<h1>StarSips info</h1>
  <div>
    <input type="text" name="search" [(ngModel)]="distance"  placeholder="distance">
</div>
<button (click)="search()">Search</button>
<table class="table">
      <thead class="thead-light">
          <tr>
              <th scope="col">Name</th>
              <th scope="col">Number of stops</th>
          </tr>
      </thead>
      <tbody>
        <tr  *ngFor="let data of items | paginate: {
          itemsPerPage: itemsPerPage,
          currentPage: page,
          totalItems: totalItems
        }
        " >
          <td>{{data.name}}</td>
          <td>{{data.stops}}</td>
      </tr>
      </tbody>
  </table>
  <pagination-controls  class="pagi"  (pageChange)="getdata((page = $event))"></pagination-controls>